# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
   
- Create a Jupyter Notebook
- Create a markdown cell with a table of Data Science tools
- List popular Libraries used by Data Scientists
- Insert code and markdown cells
- Share your notebook through Github

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib

| Data Science Tools      |
|------------------------|
| RStudio                |
| Spyder                 |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Ulfvaldr